<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="text" type="text" name="input" value="" placeholder="Text">
                    <input type="submit" name="" value="submit">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <p>Subjectivity: <span id="subjectivity"></span></p>
                    <p>Agreement: <span id="agreement"></span></p>
                    <p>Confidence: <span id="confidence"></span></p>
                    <p>Irony: <span id="irony"></span></p>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
